header {
	background-color: #8e7c93ee;
	font-size: 24px;
	color: #343434;
	padding: 10px;
	float: left;
	position: sticky;
}

header a {
	padding: 10px;
	text-decoration: none;
	color: #e6e6e6;
	height: 100%;
}

header a:hover {
	background-color: #e6e6e6;
	color: #343434;
	height: 100%;
}

#current {
	background-color: #e6e6e6;
	color: #343434;
	height: 100%;
	pointer-events: none;
}

#current:hover {
	background-color: #8e7c93ee;
	color: #e6e6e6;
}